@import './base.css';

#app {
  font-weight: normal;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--fondo);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: 'AtkinsonHyperlegibleMono';
  src: url('../fonts/AtkinsonHyperlegibleMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: normal;
}

:root {
  --fondo: #0000;
  --fondo-secundario: #133034;
  --resaltado: #6265b8;
  --texto: #abe7e5;
  --boton: #8e99e8;
  --boton-hover: hsla(160, 100%, 37%, 1);
}

@media (max-width: 768px) {
  .main-content {
    padding: 0.5rem;
    align-items: stretch;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
}
