@import './base.css';

#app {
  font-weight: normal;
  width: 100%;
  background-color: var(--fondo);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

:root {
  --fondo: #222831;
  --fondo-secundario: #393E46;
  --resaltado: #00ADB5
  --texto: #EEEEEE;
  --boton: #00ADB5;
  --boton-hover: hsla(160, 100%, 37%, 1);
}
